<section class="favorites-card">
  <p>{{ title }}</p>
  <p>{{ description }}</p>
  <img class="favorites-card__img" src="{{ image }}" alt="" />
  <a href="{{ url }}" class="favorites-card__url">{{ url }}</a>
  <button class="favorites-card__delete">Удалить</button>
</section>